*.iml
.git-push
.idea/
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.env
blockchain/artifacts
blockchain/cache
blockchain/typechain-types
blockchain/node_modules
blockchain/.openzeppelin
